<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBangDiaCD.Properties.Settings.QuanLyBangDiaConnectionString"
      connectionString="Data Source=DESKTOP-5MHUIA8\SQLEXPRESS2014;Initial Catalog=QuanLyBangDia;User ID=sa;Password=123456789"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
